{% extends 'layouts/base.njk' %}

{% block content %}
    <main>
        <h2>I don't have inlined CSS or JS...</h2>
        <p>...and that's okay because it isn't needed here!</p>
        <p><a href="/">Go Back Home</a></p>
    </main>
{% endblock %}